/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 header, h1, nav, .list-comment{
   font-family: "Kaushan", cursive, sans-serif;
 }

 header{
   width: 90%;
   padding: 15px 0;
   margin: 30px auto 0;
   text-align: center;
   border-top: solid 5px #000000;
 }

 header .headline{
   font-size: 32px;
 }

 nav{
   width: 880px;
   margin: 0 auto;
   border-top: solid 0.7px #000000;
   border-bottom: solid 0.7px #000000;
 }

 .nav-list{
   text-align: center;
   padding: 10px 0;
   margin: 0 auto;
 }

 .nav-list-item{
   list-style: none;
   display: inline-block;
   margin:0 20px;
 }

 main{
   width:880px;
   margin: 0 auto;
}

.list-wrap{
  display: flex;
  flex-wrap: wrap;
}

.list-box{
  width: 200px;
  height: 250px;
  margin: 10px;
  position: relative;
}

.list-comment{
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.list-body{
  display: block;
  color: gray;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-title{
  display: block;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flash-message{
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0;
}

.flash-message.notice{
  background-color: #bcdfff;
  color: #0067c0;
  border: solid 1px #0067c0;
}

.flash-message.alert{
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

